.countdown {
	width: 70%;
	margin: 10px auto;
	background-color: gray;
	font-size: 30px;
	text-align: center;
	color: white;
}

.todoList {
	width: 70%;
	margin: 10px auto;
}

.box {
	height: 100px;
	width: 100px;
	
}
